body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 710px;
}

.blog-post {
    margin-top: 130px;
}

.blog-post h2 {
    font-size: 48px;
    font-weight: 700;
}

.blog-post-meta {
    line-height: 30px;
}